{% extends 'base.html' %}
{% load static %}


{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>{{ post.title }}</h1>
        <p>By {{ post.author.username }} on {{ post.created_at }}</p>
        <p>{{ post.content }}</p>
        <a href="{% url 'blog:post_update' post.slug %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'blog:post_delete' post.slug %}" class="btn btn-danger">Delete</a>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-12">
        <h2>Comments</h2>
        <ul class="list-group">
            {% for comment in post.comment_set.all %}
            <li class="list-group-item">
                <p>{{ comment.content }}</p>
                <p>By {{ comment.author }} on {{ comment.created_at }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-12">
        <h2>Add a Comment</h2>
        <form method="post" action="{% url 'blog:add_comment_to_post' post.slug %}">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" class="btn btn-success">Add Comment</button>
        </form>
    </div>
</div>


    <h3>Tag Cloud</h3>
    <div class="tagcloud">
      
      {% for tag in tags %}
        <li><a href="{% url 'blog:post_by_tag' tag.slug %}" class="tag-cloud-link">{{tag}}</a></li>
      {% endfor %}
        
      
    </div>
  </div>

{% endblock %}

