{% extends "base.html" %}
{% comment %} 

{% block title %}Post List{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h1>Posts</h1>
        <form method="get" action=".">
            <input type="text" name="q" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
        <ul class="list-group">
            {% for post in posts %}
            <li class="list-group-item">
                <h2><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></h2>
                <p>By {{ post.author.username }} on {{ post.created_at }}</p>
                <p>{{ post.content|truncatewords:30 }}</p>
                <p>{{ post.category }}</p>
                <p>{{ post.slug}}</p>
                <a href="{% url 'blog:post_update' post.pk %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'blog:post_delete' post.pk %}" class="btn btn-danger">Delete</a>
            </li>
            {% endfor %}
        </ul>
     
        {% if is_paginated %}
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}

                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}  {% endcomment %}


{% block title %}Post List{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h1>Posts</h1>
        <form method="get" action=".">
            <input type="text" name="q" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
        <ul class="list-group">
            {% for post in posts %}
            <li class="list-group-item">
                <h2><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></h2>
                <p>By {{ post.author.username }} on {{ post.created_at }}</p>
                <p>{{ post.content|truncatewords:30 }}</p>
                <p>{{ post.category }}</p>
                <p>{{ post.slug}}</p>
                <a href="{% url 'blog:post_update' post.pk %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'blog:post_delete' post.pk %}" class="btn btn-danger">Delete</a>
            </li>
            {% endfor %}
        </ul>
     
        {% if is_paginated %}
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% endif %}

                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}

